{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block head %}

<style>
  #myTab a {
      color: black;
      text-decoration-line: none;
  }

  #myTab a:hover {
      color: orange;
  }

  #myTab a.active {
      color: orange;
  }

</style>

{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          JOB SUMMERY
        </div>
        <div class="card-body">
          {% if not job %}
          <p>A summery of your job information will appear here</p>
          {% else %}
            <h4>{{ job.name }}</h4>
            <span>{{ job.quantity }} Item</span><br/>
            <span>{{ job.get_size_display }} Job</span>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card mb-5">
        <div class="card-body">

        <ul class="nav nav-tabs nav-justified align-items-center mb-3" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="{% if step == 1 %}active{% endif %}" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Item info</a>
          </li>
          <i class="fas fa-chevron-right"></i>
          <li class="nav-item" role="presentation">
            <a class="{% if step == 2 %}active{% endif %}" id="pickup-tab" data-bs-toggle="tab" data-bs-target="#pickup" type="button" role="tab" aria-controls="pickup" aria-selected="false">Pickup</a>
          </li>
          <i class="fas fa-chevron-right"></i>
          <li class="nav-item" role="presentation">
            <a class="{% if step == 3 %}active{% endif %}" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="false">Delivery</a>
          </li>
        </ul>

        </div>
      </div>
      <b>CREATE A JOB</b>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if step == 1 %}show active{% endif %}" id="info" role="tabpanel" aria-labelledby="info-tab">
          <h1>Item info</h1>
          <form method="POST" enctype="multipart/form-data">
            <b class="text-secondary">Item Information</b>
            <div class="card bg-white mt-2 mb-5">
              <div class="card-body">
                {% csrf_token %}
                {% bootstrap_form step1_form %}
              </div>
            </div>
            <input type="hidden" name="step" value="1">
            <button type="submit" class="btn btn-warning">Save and continue</button>
          </form>
        </div>
        <div class="tab-pane fade {% if step == 2 %}show active{% endif %}" id="pickup" role="tabpanel" aria-labelledby="pickup-tab">
          <h1>Pickup</h1>
        </div>
        <div class="tab-pane fade {% if step == 3 %}show active{% endif %}" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
          <h1>Delivery</h1>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}