{% extends 'courier/base.html' %}

{% block head %}

  <style>
      small {
          font-size: 12px;
          line-height: 1.2rem;
      }

  </style>

{% endblock %}

{% block content %}

  <div class="d-flex flex-column h-100" style="padding-bottom: 60px">

    <div class="text-center">
      <div class="btn-group mt-1 mb-1 align-item-center" role="group">
        <a href="{% url 'courier:current_job' %}" class="btn btn-outline-secondary">Current Job</a>
        <a href="{% url 'courier:archived_jobs' %}" class="btn btn-secondary">Archived Jobs</a>
      </div>
    </div>

    {% if jobs %}

      {% for job in jobs %}
        <section class="section py-0">
          <div class="container z-2">
            <div class="row position-relative justify-content-center align-items-center">
              <div class="col-12">
                <!-- Card -->
                <div class="card border-d px-4 py-1">
                  <div class="card-body text-center text-md-left">
                    <div class="row align-items-center">
                      <div class="col text-md-left">
                        <img src="{{ job.photo.url }}" class="rounded-lg" width="80px" height="80px">
                      </div>
                      <div class="col-md-8">
                        <b>{{ job.name }}</b><br/>
                        <small class="text-success">
                          <i class="fas fa-car me-1"></i><span>{{ job.distance }}</span> km
                          <i class="fas fa-clock m-1"></i><span>{{ job.duration }}</span> min
                        </small>

                        <div class="d-flex align-items-centre mt-2">
                          <i class="fas fa-map-pin me-2"></i>
                          <small class="text-secondary ml-2">{{ job.pickup_address }}</small>
                        </div>

                        <div class="d-flex align-items-centre mt-2">
                          <i class="fas fa-flag-checkered me-2"></i>
                          <small class="text-secondary ml-2">{{ job.delivery_address }}</small>
                        </div>
                      </div>
                      <div class="col text-right">
                        <h3>${{ job.price }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}
    {% else %}

      <div id="main" class="text-center">
        <p>You have no job now. Let's pick a new</p>
      </div>

    {% endif %}

  </div>


  {% include 'courier/bottom_tabs.html' %}

{% endblock %}