<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <title>Courier</title>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="manigest" href="{% static 'manifest.json' %}">

  <!-- Favicon -->
  <link rel="icon" type="image/png"  href="{% static 'img/logo.png' %}">

  <!-- Fontawesome -->
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

  <!-- Pixel CSS -->
  <link type="text/css" href="{% static 'css/pixel.css' %}" rel="stylesheet">

  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  </script>

  <style>
    #content {
      height: calc(var(--vh, 1vh) * 100);
    }
  </style>

  {% block head %}
  {% endblock %}
</head>
<body>

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <script src="{% static 'vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/headroom.js/dist/headroom.min.js' %}"></script>

  <!-- Vendor JS -->
  <script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
  <script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
  <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
  <script src="{% static 'vendor/vivus/dist/vivus.min.js' %}"></script>
  <script src="{% static 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Pixel JS -->
  <script src="{% static 'js/pixel.js' %}"></script>
</body>
</html>