<div class="bottom-tabs d-flex">
  <a href="{% url 'courier:available_jobs' %}" class="{% if request.path == '/courier/jobs/available/' %} active {% endif %}">
    <i class="fas fa-solid fa-map"></i>
    <span>Available Jobs</span>
  </a>
  <a href="{% url 'courier:current_job' %}" class="{% if request.path == '/courier/jobs/current/' or request.path == '/courier/jobs/archived/' %} active {% endif %}">
    <i class="fas fa-archive"></i>
    <span>My Jobs</span>
  </a>
  <a href="{% url 'courier:courier_profile' %}" class="{% if request.path == '/courier/profile/' %} active {% endif %}">
    <i class="fas fa-solid fa-user"></i>
    <span>Profile</span>
  </a>
</div>
