{% extends 'courier/base.html' %}
{% load static %}
{% load rating %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="{% static 'img/avatar.png' %}" class="rounded-circle" width="60" height="60">
      {% if not request.user.is_authenticated %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <h4 class="text-light mb-0">{{ request.user.get_full_name }}</h4>
        </div>
      {% else %}
        <form class="form-inline">
          <span class="mr-4 text-light me-2">{{ request.user.get_full_name|title }}</span>
          <a href="/users/signout" class="btn btn-outline-gray-100 d-none d-lg-inline">Sign out</a>
        </form>
      {% endif %}
    </div>
  </nav>

  <!-- Section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="icon-box mb-4">
            <div class="icon icon-primary mb-4">
              <span class="fas fa-regular fa-money-bill"></span>
            </div>
            <h3 class="h5">Total Earnings</h3>
            <span class="counter display-3 text-gray d-block">${{ total_earnings }}</span>
          </div>
        </div>
        <div class="col text-center">
          <div class="icon-box mb-4">
            <div class="icon icon-primary mb-4">
              <span class="fas fa-check"></span>
            </div>
            <h3 class="h5">Completed</h3>
            <span class="counter display-3 text-gray d-block">{{ total_jobs }} Jobs</span>
          </div>
        </div>
        <div class="col text-center">
          <div class="icon-box mb-4">
            <div class="icon icon-primary mb-4">
              <span class="fas fa-solid fa-road"></span>
            </div>
            <h3 class="h5">Driven</h3>
            <span class="counter display-3 text-gray d-block">{{ total_km }} Km</span>
          </div>
        </div>
        <div class="col text-center">
          <div class="icon-box mb-4">
            <div class="icon icon-primary mb-4">
              <span class="fa-solid fa-star"></span>
            </div>
            <h3 class="h5">Rating</h3>
            <span class="counter display-3 text-gray d-block">
              {% rating object=request.user role='courier' %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'courier/bottom_tabs.html' %}

{% endblock %}