<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<head>
  <meta charset="UTF-8">
  <title>{% block title %}Delivery{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">

  <!-- Fontawesome -->
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

  <!-- Pixel CSS -->
  <link type="text/css" href="{% static 'css/pixel.css' %}" rel="stylesheet">

  {% block head %}
  {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Delivery</a>
    {% if not request.user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item {% if request.GET.next != '/courier/' %}active{% endif %}">
            <a class="nav-link active" aria-current="page" href="/users/signin/?next=/customer/">customer</a>
          </li>
          <li class="nav-item {% if request.GET.next == '/courier/' %}active{% endif %}">
            <a class="nav-link active" aria-current="page" href="/users/signin/?next=/courier/jobs/available/">courier</a>
          </li>
        </ul>
      </div>
    {% else %}
      <form class="form-inline">
        <span class="mr-4 text-light me-2">{{ request.user.get_full_name|title }}</span>
        <a href="/users/signout" class="btn btn-outline-gray-100 d-none d-lg-inline">Sign out</a>
      </form>
    {% endif %}
  </div>
</nav>

{% block content %}
{% endblock %}

{% if messages %}
  <div class="container mt-5">
    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
<script src="{% static 'vendor/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/headroom.js/dist/headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'vendor/vivus/dist/vivus.min.js' %}"></script>
<script src="{% static 'vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="{% static 'js/pixel.js' %}"></script>
</body>
</html>