{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="nav nav-pills nav-fill mt-5">
      <div class="nav-item">

        <a href="{% if user.is_authenticated %}/customer/{% else %}/users/signin/?next=/customer/{% endif %}"
           class="btn btn-outline-primary" style="font-size: 4rem; padding-inline: 3rem">
          customer
        </a>
      </div>
      <div class="nav-item">
        <a href="{% if user.is_authenticated %}/courier/jobs/available/{% else %}/users/signin/?next=/courier/jobs/available/{% endif %}"
           class="btn btn-outline-primary" style="font-size: 4rem; padding-inline: 3rem">
          courier
        </a>
      </div>
    </div>
  </div>

{% endblock %}
