{% extends 'base.html' %}
{% load bootstrap5 %}
{% load socialaccount %}
{% block content %}

  <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark">
    <div class="container-fluid mt-5">
      <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div
              class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h1 class="mb-0 h3">Create an account as
                {% if request.GET.next == '/customer/' %}
                  customer
                {% else %}
                  courier
                {% endif %}
              </h1>
            </div>
            <form method="POST">
              <!-- Form -->
              <div class="form-group mb-4">
                {% csrf_token %}
                {% bootstrap_form form %}
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Create account</button>
              </div>
            </form>
            <div class="mt-3 mb-4 text-center">
              <span class="fw-normal">or</span>
            </div>
            <div class="btn-wrapper my-4 text-center">
              <a href="{% provider_login_url 'google' %}?next={{ request.GET.next }}"
                 class="btn btn-icon-only btn-pill btn-outline-gray-300 text-google me-2"
                 aria-label="google button" title="google button">
                <span aria-hidden="true" class="fas fa-brands fa-google me-2"></span>
              </a>
              <a href="{% provider_login_url 'yandex' %}?next={{ request.GET.next }}"
                 class="btn btn-icon-only btn-pill btn-outline-gray-300 text-google me-2"
                 aria-label="yandex button" title="google button">
                <span aria-hidden="true" class="fa-brands fa-yandex me-2"></span>
              </a>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <span class="fw-normal">
                  Already have an account?
                  <a href="/users/signin/?next={{ request.GET.next }}" class="fw-bold text-underline">Login here</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}